* {
    margin: 0;
    padding: 0;
}
body {
    font: 400 16px/1.5 'Hind', sans-serif;
}
header{
    width: 100%;
    background: url("img/1_1.png") repeat-x, #0f6eb8;
    height: 965px;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    color: #000000;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
.promo{
    width: 100%;
    background-color: black;
    height: 65px;
}
.promo1{
    text-align: center;
    color: white;
    padding-top: 19px;
    padding-left: 53px;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 4px;
}
.fa-times{
    float: right;
    padding-right: 25px;
    color: lightgrey;
}
.fa-times:hover{
    color: #619fce;
}
.navigation{
    display: inline-block;
    width: 100%;
    background:#619fce;
    opacity: 0.7;
    height: 85px;
}
.img{
    display: inline-block;
}
#menu{
    display: inline-block;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 100px;
    position: relative;
}
.home{
    display: inline-block;
    padding-left: 25px;
}
.fa-shopping-cart{
    padding-left: 100px;
}
.fa-shopping-cart:hover{
    color: white;
}
.img1{
    padding-left: 10px;
    padding-right: 13px;
    height: auto;
}
.img2{
    padding-left: 15px;
    padding-right: 100px;
    height: auto;
    border-left: 3px solid #000000;
}
.sweat{
    color: white;
    text-align: center;
    margin-top: 13%;
    letter-spacing: 10px;
}
.line1{
    font-family: "Brush Script MT";
    font-size: 97px;
    text-transform: uppercase;
    word-spacing: 15px;
    font-style: italic;
    font-weight: 600;
}
.line2{
    font: 600 32px/1.5 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.arrows{
    padding-right: 24%;
}
.fa-caret-down{
    display: inline-block;
    float: right;
    margin-right: 7%;
    color: white;
    text-align: center;
}
.block2{
    display: inline-block;
    padding-top: 3.1%;
    background-color:#ffffff;
    color: black;
    height: 146px;
}
.img3{
    padding-left: 60px;
    height: auto;
}
.img4{
    padding-left: 47px;
}
.images{
    font: 800 20px/1.5 'Open Sans', sans-serif;
    float: right;
    padding-top: 20px;
}
.img5{
    font: 800 20px/1.5 'Open Sans', sans-serif;
    float: right;
    padding-top: 12px;
}
.tm{
    font-size: 11px;
}
#img6{
    font: 400 20px/1.5 'Anton', sans-serif;
    float: right;
    font-style: italic;
}
.block3{
    width: 100%;
    font: 800 35px/1.5 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    height: auto;
    letter-spacing: 5px;
    display: inline-block;
}
.img6{
    padding-left: 10%;
    padding-top: 47px;
    padding-bottom: 50px;
}
.logo{
    padding-left: 17px;
}

.gradient-text {
    font:800 50px/1.5 'Open Sans', sans-serif;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    color: #0B2349;
}
.block4{
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    background-color:#f3f3f3;
   z-index: 1;
}
.qw{
    padding-left: 10.3%;
    padding-top: 2.7%;
}
.gradient-text1{
    font-family: 'Rubik One', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    color: #0B2349;
}
.title{
    font: 600 20px/1.5 'Open Sans', sans-serif;
    color: black;
    font-size: 19px;
    padding-bottom: 30px;
}
.tagline{
    font: 400 18px/1.5 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 30px;
}
.video1{
    display: inline-block;
    float: right;
    padding-bottom: 52px;
}
.price{
    margin-top: 50px;
    border-left: 5px solid lightgrey;
}
.starting{
    font-family: "Open Sans";
    font-size: 35px;
    color: #619fce;
    margin-left: 20px;
    line-height: 40px;
}
.shop{
    margin-top: 54px;
    text-align: center;
    color: black;
    font: 700 28px/1.5 'Open Sans', sans-serif;
    width: 15%;
    height: auto;
border:2px solid #0D61BC;
    border-radius: 55px;
    padding: 30px 36px;
}
.img7{
    margin-top: 54px;
    margin-left: 33px;
}
#slider{
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-top: 20%;
    text-align: center;
}
.picture5{
    text-align: center;
    margin-top: 49%;
}
.img8{
    padding-left: 35px;
    padding-top: 92px;
    padding-bottom: 16.8%;
}
#photos{
    background: url("img/19.png") repeat-x, #0f6eb8;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    display: inline-block;
    padding-bottom: 6.5%;
}

.fa-instagram{
    padding-top: 7%;
}
.teg2{
    padding-top: 4px;
    text-transform: uppercase;
    font: 800 32px/1.5 'Open Sans', sans-serif;
}
.p1{
     padding-right: 18px;
 }
.picture-block{
    display: inline-block;
    padding: 0px 70px 30px;
    text-align: justify;
}
.three-photos{
    padding: 100px 26px 41px;
    margin-top: 1%;
}

.example2 {
    display:inline-block;
    position:relative;
    padding-right: 18px;
}
.example2 span {
    display:inline-block;
    position:absolute;
    top:72%;
    color:#FFF;
    font-family:CASMIRA, sans-serif;
    padding-left: 4%;
    font-size:56px;
    font-weight: 800;
}
h2{
    text-align: center;
    background-color: #0D61BC;
    color: white;
    font-size: 24px;
    font-family:Chau Philomene One, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 17px;
    padding-bottom: 17px;
}
h2:hover{
    color: #0B2349;
}
.end{
    text-align: center;
    margin-top: 14%;
}
.info{
    background-color:#0d6cb6;
    color: white;
    padding: 10% 5%;
}
#contact-info{
    display: inline-block;
    padding-bottom: 80px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}
.fa-paper-plane{
    color: #0d6cb6;
}
.form-wrapper {
    width: 450px;
    background: #0d6cb6;
    border-radius: 10px;
}
/* Стили поля ввода текста */
.form-wrapper input {
    border: 2px solid white;
    width: 300px;
    height: 16px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    background: #0d6cb6;
    border-radius: 7px 0 0 7px;
}
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
/* Кнопка отправки формы */
.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 60px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: white;
    border-radius: 0 7px 7px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper button:hover{
    background: black;
}
.title1{
    font: 600 28px/1.5 'Open Sans', sans-serif;
}
.subtitle{
    font: 100 18px/1.5 'Open Sans', sans-serif;
}
.content{
    display: block;
    text-transform: uppercase;
    font: 600 26px/1.5 'Open Sans', sans-serif;
}
.td1{
    display: inline-block;
    padding-right: 70px;
}
form{
    padding-top: 20px;
}
.td2{
    padding-right: 70px;
    line-height: 30px;
}
.nosweat{
    padding-top: 30px;
    border-top: 3px solid cornflowerblue;
}
.icons{
    float: right;
}
.icons:hover{
    color: #8AA9D6;
    size: 20px;
}
.iinf{
    padding-right: 20px;
}


