* {
    margin: 0;
    padding: 0;
}
body {
    font: 400 16px/1.5 'Hind', sans-serif;
}
header{
    width: 100%;
    background: url("img/1_1.png") repeat-x, #0f6eb8;
    height: 965px;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    color: #000000;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
.promo{
    width: 100%;
    background-color: black;
    height: auto;
    padding-bottom: 5px;
}
.promo1{
    text-align: center;
    color: white;
    padding-top: 19px;
    padding-left: 53px;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 4px;
}
.fa-times{
    float: right;
    padding-right: 25px;
    color: lightgrey;
}
.fa-times:hover{
    color: #619fce;
}
.navigation{
    width: 100%;
    background:#619fce;
    opacity: 0.7;
    height: auto;
    padding-bottom: 30px;
}
.mobile-menu {
    color: white;
    font-size: 20px;
    margin-top: 8px;
    display: none;
    cursor: pointer;
}
#menu{
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 100px;
    position: relative;
}
.home{
    padding-left: 25px;
}
video{
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.fa-shopping-cart{
    padding-left: 100px;
    float: right;
}
.fa-shopping-cart:hover{
    color: white;
}
.img1{
    padding-left: 10px;
    padding-right: 13px;
    height: auto;
}
.img2{
    padding-left: 15px;
    padding-right: 100px;
    height: auto;
    border-left: 3px solid #000000;
}
.sweat{
    color: white;
    text-align: center;
    margin-top: 12%;
    letter-spacing: 10px;
}
.line1{
    font-family: "Brush Script MT";
    font-size: 100px;
    text-transform: uppercase;
    word-spacing: 15px;
    font-style: italic;
    font-weight: 600;
}
.line2{
    font: 600 34px/1.5 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.arrows{
    padding-right: 24%;
}
.fa-caret-down{
    display: inline-block;
    float: right;
    margin-right: 5%;
    color: white;
    text-align: center;
}
.block2{
    display: inline-block;
    padding-top: 3.1%;
    background-color:#ffffff;
    color: black;
    height: 144px;
}
.img3{
    padding-left: 60px;
}
.img4{
    padding-left: 47px;
}
.images{
    font: 800 20px/1.5 'Open Sans', sans-serif;
    float: right;
    padding-top: 20px;
}
.img5{
    font: 800 20px/1.5 'Open Sans', sans-serif;
    float: right;
    padding-top: 12px;
}
.tm{
    font-size: 11px;
}
#img6{
    font: 400 20px/1.5 'Anton', sans-serif;
    float: right;
    font-style: italic;
}
.block3{
    width: 100%;
    font: 800 35px/1.5 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    height: auto;
    letter-spacing: 5px;
    display: inline-block;
}
.img6{
    padding-left: 10%;
    padding-top: 47px;
    padding-bottom: 53px;
}
.logo{
    padding-left: 17px;
}
.gradient-text {
    font:800 50px/1.5 'Open Sans', sans-serif;
    background: linear-gradient(45deg, #0B2349 8%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    color: #0B2349;
}
.block4{
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    background-color:#f3f3f3;
   z-index: 1;
}
.qw{
    padding-left: 10.3%;
    padding-top: 2.7%;
}
.gradient-text1{
    font-family: 'Rubik One', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    background: linear-gradient(45deg, #0B2349 8%, #0D61BC 56%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.title{
    font: 600 20px/1.5 'Open Sans', sans-serif;
    color: black;
    font-size: 19px;
    padding-bottom: 30px;
}
.tagline{
    font: 400 18px/1.5 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 30px;
}
.video1{
    display: inline-block;
    float: right;
    padding-bottom: 52px;
}
.price{
    margin-top: 50px;
    border-left: 5px solid lightgrey;
}
.starting{
    font-family: "Open Sans";
    font-size: 35px;
    color: #619fce;
    margin-left: 20px;
    line-height: 40px;
}
#shop{
    margin-top: 54px;
    text-align: center;
    color: black;
    font: 700 28px/1.5 'Open Sans', sans-serif;
    width: 15%;
    height: auto;
border:2px solid #0D61BC;
    border-radius: 55px;
    padding: 30px 36px;
}
.img7{
    margin-top: 54px;
    margin-left: 33px;
    padding-bottom: 3.6%;
}
#slider{
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-top: 20%;
    text-align: center;
}
.video2{
    position: relative;
    z-index: 2;
}
.picture5{
    text-align: center;
    margin-top: 49%;
}
.img8{
    padding-left: 35px;
    padding-top: 92px;
    padding-bottom: 16.8%;
}
#photos{
    background: url("img/19.png") repeat-x, #0f6eb8;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    display: inline-block;
    padding-bottom: 6.5%;
}
.fa-instagram{
    padding-top: 7%;
}
.teg2{
    padding-top: 4px;
    text-transform: uppercase;
    font: 800 32px/1.5 'Open Sans', sans-serif;
}
.p1{
     padding-right: 18px;
 }
.picture-block{
    display: inline-block;
    padding: 0px 70px 30px;
}
.three-photos{
    padding: 100px 26px 41px;
    margin-top: 1%;
}
.example_beauty{
    height: auto;
}
figure {
    background:  #0D61BC;
    display: block;
}
.example2 {
    display:inline-block;
    position:relative;
    padding-right: 18px;
}
.example2 span {
    display:inline-block;
    position:absolute;
    top:72%;
    color:#FFF;
    font-family:CASMIRA, sans-serif;
    padding-left: 4%;
    font-size:56px;
    font-weight: 800;
}
h2{
    text-align: center;
    background-color: #0D61BC;
    color: white;
    font-size: 24px;
    font-family:Chau Philomene One, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 13px;
    padding-bottom: 17px;
}
h2:hover{
    color: #0B2349;
}
.end{
    text-align: center;
    margin-top: 4%;
}
.info{
    background-color:#0d6cb6;
    color: white;
    padding: 6% 8%;
}
#contact-info{
    display: inline-block;
    padding-bottom: 80px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}
.fa-paper-plane{
    color: #0d6cb6;
}
.form-wrapper {
    width: 450px;
    background: #0d6cb6;
    border-radius: 10px;
}
/* Стили поля ввода текста */
.form-wrapper input {
    border: 2px solid white;
    width: 300px;
    height: 16px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    background: #0d6cb6;
    border-radius: 7px 0 0 7px;
}
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
/* Кнопка отправки формы */
.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 60px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: white;
    border-radius: 0 7px 7px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper button:hover{
    background: black;
}
.title1{
    font: 600 28px/1.5 'Open Sans', sans-serif;
}
.subtitle{
    font: 100 18px/1.5 'Open Sans', sans-serif;
}
.content{
    display: block;
    text-transform: uppercase;
    font: 600 26px/1.5 'Open Sans', sans-serif;
}
.td1{
    display: inline-block;
}
form{
    padding-top: 20px;
}
.td2{
    padding-right: 20px;
    line-height: 30px;
}
.nosweat{
    padding-top: 30px;
    border-top: 3px solid cornflowerblue;
}
.icons{
    float: right;
    margin-left: 20px;
}
.icons:hover{
    color: #8AA9D6;
    size: 20px;
}
.iinf{
    padding-right: 20px;
}
@media screen and (max-width: 1919px){
    .three-photos{
        width: 100%;
        padding: 30px 0px;
    }
    .example2{
        padding-right: 5px;
    }
    .starting{
        display: block;
    }
}
@media screen and (max-width: 1826px){
    .example2{
        width: 33%;
        padding-right: 0px;
    }
    .example2 span{
        margin-top: 5%;
        font-size: 25px;
        text-align: center;
    }
}
@media screen and (max-width: 1798px){
    .img3{
        padding-left: 10px;
    }
    .video1{
        width: 100%;
        float: none;
    }
    .title .starting .tagline{
        display: none;
    }
    .img7{
        display: block;
    }
    .info{
        padding: 5% 4%;
    }
}
@media screen and (max-width: 1768px){
    .img4{
        padding-left: 20px;
    }
    .td1 .td2{
        padding-right: 30px;
    }
    .img6{
        padding-left: 7%;
    }
}
@media screen and (max-width: 1610px){
    .img3{
        display: block;
        padding-bottom: 20px;
        text-align: center;
    }
    .img4{
        padding-right: 30px;
    }
    .block2{
        padding-left: 7%;
    }
    .td1 .td2{
        padding: 0px;
    }
    .form-wrapper input {
        width: 200px;
    }
    #menu{
        padding-left: 10px;
    }
    .line1{
        font-size: 80px;
    }
    .line2{
        font-size: 27px;
    }
    .gradient-text {
        font-size: 35px;
    }
    .gradient-text1 {
        font-size: 40px;
    }
    .title1{
        font: 500 12px/1.5 'Open Sans', sans-serif;
    }
    .subtitle{
        font: 100 9px/1.5 'Open Sans', sans-serif;
    }
    .block3 {
        text-align: center;
        padding-left: 0;
        font: 600 22px/1.5 'Open Sans', sans-serif;
    }
    #menu{
        font-size: 21px;
    }
    .content{
        font-size: 14px;
        font-weight: 100;
    }
}
@media screen and (max-width: 1375px){
    .img4{
        padding-right: 0px;
    }
    .home{
        padding-left: 5px;
    }
    .promo1{
        font-size: 14px;
    }
    .home{
        font-size: 16px;
    }
    .img1, .img2{
        height: 40px;
        margin-top: 10px;
    }
    .line1{
        font-size: 60px;
    }
    .line2{
        font-size: 17px;
    }
    .gradient-text{
        font-size: 24px;
    }
    .gradient-text1{
        font-size: 26px;
    }
    .images, .img5{
        font-size: 14px;
    }
    .logo{
        font-size: 14px;
    }
    .title{
        font-size: 16px;
    }
    .tagline{
        font-size: 14px;
    }
    .starting{
        font-size: 21px;
    }
    #shop{
        font-size: 18px;
    }
    .teg2{
        font-size: 22px;
    }
    .buy{
        font-size: 20px;
    }
    .tagline{
        line-height: 5px;
    }
}
@media screen and (max-width: 1266px){
    .fa-shopping-cart{
        padding-left: 5px;
    }
    .img4{
        padding-left: 0;
        padding-right: 4px;
    }
    #logos{
        width: 100%;
    }
}
@media screen and (max-width: 1206px){
    .img8{
        padding-top: 10px;
        padding-bottom: 9px;
    }
}
@media screen and (max-width: 1179px){
    header{
        width: 100%;
    }
    .navigation{
        text-align: center;
    }
    .line1{
        font-size: 35px;
    }
    .line2{
        font-size: 12px;
    }
    .picture-block{
        padding-left: 10px;
        padding-right:10px ;
    }
    .block3 {
        font: 400 14px/1.5 'Open Sans', sans-serif;
        letter-spacing: 3px;
    }
    .example2 span{
        top: 67%;
    }
    header{
        height: 565px;
    }
}
@media screen and (max-width: 1059px){
    .img8{
        width: 30%;
    }
    .as{
        width: 35%;
    }
    .promo1{
        font-size: 10px;
    }
    .home{
        font-size: 12px;
    }
    .img1, .img2{
        height: 35px;
    }
    .as{
        height: 20%;
        width: 20%;
    }
    .images{
        font: 800 10px/1.5 'Open Sans', sans-serif;
    }
    .img5 {
        font: 800 10px/1.5 'Open Sans', sans-serif;
    }
    .title{
        font-size: 14px;
    }
    .tagline{
        font-size: 11px;
    }
    .teg2{
        font-size: 14px;
    }
    .example2 span{
        top:70%;
        font-size: 14px;
    }
    .tm{
        font-size: 7px;
    }
    .price{
        margin-top: 10px;
    }
    .form-wrapper{
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 854px){
    .images{
        display: inline;
        padding-right: 5px;
    }
    .home {
        font-size: 12px;
    }
    .line1{
        font-size: 32px;
    }
    .line2 {
        font-size: 9px;
    }
    .title{
        font-size: 11px;
        padding-bottom: 10px;
    }
    .tagline{
        font-size: 8px;
    }
    .starting{
        font-size: 14px;
    }
    #shop{
        font-size: 12px;
        padding: 20px 20px;
        margin-top: 20px;
    }
    .img6{
        padding-left: 0%;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .logo{
        padding-left: 0px;
    }
    .img1, .img2{
        height: 30px;
    }
    .example2 span{
        margin-top: 0px;
        font-size: 12px;
    }
    .buy{
        font-size: 10px;
    }
    .content{
        font-size: 12px;
    }
    .td1{
        padding-right: 10px;
    }
    .form-wrapper input {
        width: 100px;
    }
    .teg2{
        font-size: 17px;
    }
    .gradient-text, .gradient-text1{
        font-size: 20px;
    }
    .img8{
        height: 15%;
     }
    .fa-instagram{
        padding-top: 5px;
    }
    header{
        height: 465px;
    }
    .home{
        display: none;
    }
    .mobile-menu{
        float: left;
        display: block;
        padding-left: 30px;
    }
    .fa-shopping-cart{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 786px){
    .example2{
        width: 31%;
    }
    #logos{
        width: 100%;
    }
    .img4{
        padding-right: 0px;
    }
    .images,.img5{
        font-size: 8px;
    }
    .tm {
        font-size: 5px;
    }
    .teg2{
        font-size: 12px;
    }
    .navigation{
        padding-bottom: 5px;
    }
    .img7{
        margin-top: 34px;
    }
    #contact-info{
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 598px) {
    .example2 span{
        top:65%;
    }
    .line1{
        font-size: 21px;
    }
    .line2{
        font-size: 9px;
    }
    .promo1{
        font-size: 7px;
    }
    .home, .logo{
        font-size: 11px;
    }
}
@media screen and (max-width: 545px) {
    .img1, .img2 {
        display: inline-block;
        height: 25px;
    }
}
@media screen and (max-width: 514px) {
    .img1, .img2 {
        height: 20px;
    }
}
@media screen and (max-width: 478px) {
    .navigation{
        display: block;
    }
    .example2 span{
        top:61%;
    }
    .form-wrapper{
        width: 190px;
        padding-bottom: 30px;
    }
    .img8{
        width: 50%;
    }
    .img{
        margin-top: 0;
        display: inline-block;
    }
    .img8{
        width: auto;
    }
}
@media screen and (max-width: 426px) {
    #menu{
        display: block;
    }
    .img1,.img2{
       height: 15px;
    }

}
@media screen and (max-width: 438px) {
    .as{
        height: 15%;
        width: 15%;
    }
    .example2 span{
        top:52%;
        font-size: 10px;
        font-weight: 100;
    }
    .content{
        font-size: 11px;
    }
    .img7{
        margin-top: 10px;
        margin-left: 3px;
    }
}
@media screen and (max-width: 376px) {
    .img1,.img2{
        height: 10px;
    }
}
@media screen and (max-width: 328px) {
    #logos{
        width: 0%;
    }
    .img8{
        width: 10%;
    }
    .img6{
        display: block;
    }
    .img{
        float: left;
    }
}